<header id="main-header">
  <div id="logo">
    <a href="/">My Logo</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/discussion">Discussion</a>
      </li>
    </ul>
  </nav>
</header>
