<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head',{title:'Something Went Wrong!'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Oops! Something is up</h1>
      <p>
        Unfortunately we have an issue on our end but we're trying hard to
        resolve it
      </p>
      <a class="btn" href="/">back to safety</a>
    </main>
  </body>
</html>
